@import "variables";
@import "mixins";
@import "margins";

.page-content {
    .col-header {
        height: 24px;
    }

    .oil-selector {
        @include flex-col();
        @extend .margin-all-bottom-s;

        .oil-item {
            img {
                width: $size_l;
                height: $size_l;
                margin-right: $size_s;
            }

            header {
                font-size: 16px;
                margin: 0 $size_s 0 0;
            }

            padding: $size_xs;
            cursor: pointer;
            border: 1px solid darkgrey;
            border-radius: $border_radius;
            opacity: 0.7;

            &.selected {
                background: #bcffb4;
                opacity: 1;
            }
        }
    }

    .passives {
        @include flex-col();
        @extend .margin-all-bottom-s;

        .passive-item {
            &.solo-passive {
                border: 1px solid blue;
                background: #dbd9ff;
            }

            & > .icon-holder {
                position: relative;
                width: 14%;

                & > div.pre-img {
                    position: relative;
                    width: 100px;
                    height: 100px;
                    background-image: url(./img/Notable_passive_frame.png);
                    background-repeat: round;
                    z-index: 2;
                    margin-right: $size_m;
                }

                & > img {
                    position: absolute;
                    z-index: 1;
                    left: 14px;
                    top: 14px;
                    width: 72px;
                    height: 72px;
                }
            }

            header {
                font-size: 16px;
                margin: 0 $size_s $size_s 20px;
            }

            padding: $size_s;
            border: 1px solid darkgrey;
            border-radius: $border_radius;

            p {
                margin: 0;
                line-height: 1.5;
            }

            .oil-ingredient {
                @extend .flex-col;
                @extend .flex-al-center;
                width: 33%;

                img {
                    width: 42px;
                    height: 42px;
                    margin-bottom: 4px;
                }
            }
        }
    }

    .rings {
        @include flex-col();
        @extend .margin-all-bottom-s;

        .ring-item {
            header {
                font-size: 16px;
                margin: 0 $size_s $size_s 20px;
            }

            padding: $size_s;
            border: 1px solid darkgrey;
            border-radius: $border_radius;

            p {
                margin: 0;
                line-height: 1.5;
            }

            & > img {
                width: 14%;
            }

            .oil-ingredient {
                @extend .flex-col;
                @extend .flex-al-center;
                width: 26%;

                img {
                    width: 42px;
                    height: 42px;
                    margin-bottom: 4px;
                }
            }
        }
    }
}
