@mixin flex($direction) {
    display: flex;
    @if ($direction) {
        flex-direction: unquote($direction);
    }
    @content;
}

@mixin flex-row {
    @include flex("row") {
        @content;
    }
}

@mixin flex-col {
    @include flex("column") {
        @content;
    }
}

@mixin flex-al-center {
    align-items: center;
}

@mixin flex-al-end {
    align-items: flex-end;
}

@mixin flex-al-start {
    align-items: flex-start;
}

@mixin flex-al-stretch {
    align-items: stretch;
}

@mixin flex-al-baseline {
    align-items: baseline;
}

@mixin flex-row-center {
    @include flex("row") {
        @content;
    }
    @include flex-al-center;
}

@mixin flex-just-center {
    justify-content: center;
}

@mixin flex-just-end {
    justify-content: flex-end;
}

@mixin flex-just-between {
    justify-content: space-between;
}

@mixin flex-full-center {
    @include flex(false) {
        @include flex-al-center;
        @include flex-just-center;
    }
}

@mixin flex-push-right {
    margin-left: auto;
}

@mixin flex-push-down {
    margin-top: auto;
}

@mixin panel-full {
    background-color: #FFF;
    padding: 10px;
}

@mixin transit-bg-color {
    transition: background-color 100ms linear;
}

.abstract-before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
}

@mixin absolute-overload {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

@mixin info-preloading-line {
    animation: blink_loading 4s linear infinite;
}

/* region image-bg-mixins */

.bonus-type-heart:before { background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%20100%20100%27%20width%3D%27100%25%27%20height%3D%27100%25%27%3E%3Cpath%20fill%3D%27%23fff%27%20d%3D%27M100%2035c0%208-4%2016-9%2021h0l-31%2031c-3%203-6%206-9%206s-6-3-9-6l-31-31c-6-5-9-13-9-21%200-16%2013-29%2029-29%208%200%2016%204%2021%209%205-6%2013-9%2021-9%2016%200%2029%2013%2029%2029z%27%2F%3E%3C%2Fsvg%3E) 0 0 no-repeat; }

.bonus-type-star:before { background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2051%2048%27%20width%3D%27100%25%27%20height%3D%27100%25%27%3E%3Cpath%20fill%3D%27%23fff%27%20d%3D%27m25%2C1%206%2C17h18l-14%2C11%205%2C17-15-10-15%2C10%205-17-14-11h18z%27%2F%3E%3C%2Fsvg%3E) 0 0 no-repeat; }

.bonus-type-privilege:before { background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%20246.69%20203.44%27%20width%3D%27100%25%27%20height%3D%27100%25%27%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%27%23fff%27%20d%3D%27M173.4%2C238.84l-2.68-9.45%2C10-3.88C175%2C220.26%2C170%2C215%2C168.85%2C207.37a37.61%2C37.61%2C0%2C0%2C1%2C2.67-21.18c13.42%2C6.09%2C22.23%2C15.05%2C22.1%2C31.85l10.79-9.35c-15.42-9.28-18.78-22.45-14.17-39%2C12%2C4.28%2C21.18%2C10.74%2C24.48%2C25.29l7-14.6c-20-10.27-26.6-20.14-24.07-36.35%2C12.06%2C1.46%2C22.16%2C5.93%2C29.18%2C17l0.87-15.39c-23.44-5.86-32-14.74-32.08-33.39%2C11.19-.37%2C20.84%2C2.83%2C29.33%2C10.91l-6.22-17.51c-10.44%2C2.14-20.37%2C3.35-29.35-2.9-6.32-4.4-10.56-10.45-13.45-18%2C8.87-3.42%2C22.44-1.92%2C31.94%2C2.77-5.26-4.93-14.75-14.25-23.78-13.67-14.15.91-22.14-8.69-28.31-20.08%2C11.42-7.94%2C29.31-4.59%2C38.79%2C6.81%2C4.19%2C5%2C12.36%2C13.72%2C17%2C18.81-2.25-10.5.44-18%2C2.37-24.71%2C17.79%2C9.08%2C22.82%2C24.22%2C16.86%2C38-3.48%2C8.06%2C1.33%2C19.2%2C3%2C26%2C2.17-11.67%2C9.34-17.37%2C14.91-23.4%2C10%2C13.27%2C9.09%2C30.7-3.28%2C40.48-7.55%2C6-8.13%2C12.52-7.75%2C20.43%2C12.2-9%2C17.78-11.38%2C25.72-11%2C2.57%2C15.2-6.47%2C29.87-22.19%2C33.51-7.3%2C1.69-11.21%2C5-13%2C11.76a14.78%2C14.78%2C0%2C0%2C1-1.12%2C2.49c5.12-1.3%2C10.21-3.38%2C15.4-3.68s10.71%2C1.14%2C16.22%2C1.84c-5.05%2C16.72-19.87%2C26.06-36.44%2C22.17-7.48-1.76-11%2C1-14.6%2C6.77%2C11.92-2.28%2C21.41%2C2.11%2C30%2C9.33-9.93%2C13.64-27.94%2C16.43-42.75%2C6.21-4-2.78-6.93-3.12-11-.8C180.84%2C236.63%2C177.2%2C237.46%2C173.4%2C238.84Z%27%20transform%3D%27translate%28-17.13%20-49.47%29%27/%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%27%23fff%27%20d%3D%27M73.06%2C87.38C82%2C84.61%2C96%2C81.47%2C104.66%2C84.58%2C100%2C98.6%2C88.19%2C112%2C62.24%2C105.76l-6.4%2C17.43c8.34-8.07%2C18.09-11.08%2C29.09-11.08%2C2%2C17-9.89%2C29.62-31.43%2C33.21%2C0%2C2.46-.08%2C5%2C0%2C7.61s0.4%2C5.3.77%2C9.86c6.62-12.53%2C16.64-17.24%2C28.56-18.81%2C4.42%2C13.54-4.33%2C27-23.68%2C36.29l6.92%2C14.63c3.29-14.2%2C12.39-20.83%2C23.89-25.07%2C6.65%2C12.65%2C1.79%2C27.24-13.14%2C38.88l10.46%2C9.61c-0.31-16.92%2C8.54-26%2C21.74-32%2C6.86%2C12.5%2C4.35%2C24.28-8.49%2C39.26l9.56%2C3.69L107.52%2C239c-5.81-2.28-11.27-6.22-16.52-6-5.06.26-9.66%2C5.57-14.9%2C7.4-13.21%2C4.6-23.47-1.55-33.46-10.49%2C9.07-7.55%2C18.52-12.17%2C31.34-9.59-2.7-2.91-4.35-5.31-6.58-6.87-1.28-.89-3.61-0.86-5.3-0.48-18.88%2C4.26-32.52-2.69-40-21%2C10.78-3.9%2C21.18-4.35%2C32.11%2C2.42-1.88-4.53-3.18-8.25-5-11.7-0.6-1.14-2.43-1.84-3.85-2.32-3.92-1.34-8.1-2-11.84-3.75-11.56-5.26-18.28-18.78-16-31.43%2C8.58-.26%2C16.33%2C3.1%2C25.56%2C11.22%2C0-4.41.29-8.6-.16-12.71-0.15-1.4-2-2.8-3.35-3.84-15.28-11.74-18.48-28.17-8-44%2C3.16%2C2.7%2C6.53%2C5.11%2C9.3%2C8.08s4.72%2C6.3%2C7.28%2C9.81c1.56-3.78%2C3.26-7.31%2C4.42-11%2C0.42-1.34-.14-3.22-0.75-4.64-8-18.58-3.59-32.52%2C14.82-43.82%2C2.06%2C6.83%2C5.73%2C16.15%2C1.36%2C26.22C71.59%2C77%2C80.76%2C68.09%2C83.84%2C63.89c10.36-14.15%2C24.64-18.14%2C40.86-10.83-3%2C11.29-15.2%2C21.63-27.2%2C20.82C88.37%2C73.27%2C78.37%2C81.75%2C73.06%2C87.38Z%27%20transform%3D%27translate%28-17.13%20-49.47%29%27/%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%27M158%2C235.72a17.5%2C17.5%2C0%2C0%2C1-35-.32A17.5%2C17.5%2C0%2C0%2C1%2C158%2C235.72Z%27%20transform%3D%27translate%28-17.13%20-49.47%29%27/%3E%0A%3C/svg%3E) 0 0 no-repeat; }

.bonus-type-corona:before { background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%2015%2013%27%20width%3D%27100%25%27%20height%3D%27100%25%27%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20fill%3D%27%23fff%27%20d%3D%27M0%2C9H15V0L11.454%2C6l-4-6-4%2C6L0%2C0V9Zm0%2C2H15v2H0V11Z%27/%3E%0A%3C/svg%3E) 0 0 no-repeat; }

/* endregion image-bg-mixins */